<h1>Bracket Maker</h1>
<p>
<h3>Create Your Own Bracket!</h3>
<!-- sign up today link here -->

<% @tournaments.each do |tournament| %>
  <div class="tournament-recent">
  <ul>
    <li class="tournament-recent"> <%= tournament.name %> </li><br>
    <li class="tournament-recent"> Event: <%= tournament.event_type %> </li><br>
    <li class="tournament-recent"><a href="SOMEWHERE">View</a></li>
  </ul>
<% end %>