<div id="container"><h1>User Profile</h1>
<%= link_to("Start a New Tournament", new_user_tournament_path(current_user)) %>

<h2>My Tournaments:</h2>
  <div class="tournament-recent">
  <% @tournaments.each do |tournament| %>
    <ul>
      <li class="tournament-recent-list"><%= tournament.name %></li>
      <li class="tournament-recent-list"><%= tournament.event_type %></li>
      <li class="tournament-recent-list"><%= link_to("View", tournament_path(tournament)) %></li>
    </ul>
  <% end %>
  </div>
</div>
