.tournament-recent {
  display: inline-block;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 300px;
  height: 150px;
}

ul.tournaments{
  list-style-type: none;
  text-align: center;
  justify-content: center;

}

div#container {
  background-color: white;
  margin: 0 auto;
  width: 900px;
  padding: 50px;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: white;
  text-align: right;
}

.fixed-nav-bar li {
  display: inline-block;
  padding-right: 10px;
}

h1, h2, h3, h4 {
  text-align: center;
}